<div class="row top-buffer">

	  <div>
	  	<a href="/addBeer" class="btn btn-success">Add a new beer</a>	
	  </div>

	  <h2>Beer list</h2>         
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Manufacturer</th>
	        <th>Name</th>
	        <th>Millilitres per bottle</th>
	        <th>Bottles per case</th>
	        <th>Cost per bottle</th>
	        <th>Currently in stock</th>
	        <th>Total volume (Ml / L)</th>
	        <th>Last purchase</th>
	        <th>Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	      	<?php foreach($this->beerSet as $beer): ?>
	      		<tr>
					<td><?=$beer['manufacturer']->name;?></td>
					<td><?=$beer['beer']->name;?></td>
					<td><?=$beer['beer']->ml_per_bottle;?></td>
					<td><?=$beer['beer']->bottles_per_case;?></td>
					<td><?=$beer['beer']->cost_per_bottle;?></td>
					<td><?=$beer['beer']->bottles_in_stock;?></td>
					<td><?=$beer['totalMl'];?><b> ml</b> / <?=$beer['totalL'];?><b> l</b></td>
					<td><?=is_null($beer['beer']->last_purchase)?'N/A':$beer['beer']->last_purchase;?></td>
					<td>
						<a href="/editBeer/<?=$beer['beer']->id;?>"><span class="glyphicon glyphicon-edit"></span></a>
						<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
			<?php endforeach; ?>
	    </tbody>
	  </table>

  </div>