// Partials
@import "partials/typography";

$footer_height: 100px;
$header_height: 70px;
$body_height: 100vh;

html, body {
    height: $body_height;
    margin: 0;
}
header{
	width: 100%;
	background-color: #092533;
	height: 70px;
	color: white
}
footer{
	width: 100%;
	background-color: #333333;
	height: $footer_height;
}
#logo{
	float: left;
	height: 100%;
	vertical-align: middle;
	line-height: $header_height;
	padding: 0 15px;
	font-size: 20px;
	font-weight: bold;
}
.container{
	min-height: -webkit-calc(#{$body_height} - #{$header_height + $footer_height});
  	min-height:    -moz-calc(#{$body_height} - #{$header_height + $footer_height});
  	min-height:         calc(#{$body_height} - #{$header_height + $footer_height});
}
.top-buffer { 
	padding-top:20px; 
}
ul.errors{
	padding-left: 0;

	li{
		list-style: none;
		background-color: #eab2b2;
	}
}
dl{
	dt{
		margin-top: 15px;
	}
}